body{
margin:0;
font-family:sans-serif;
background:#121212;
color:white;
}

.app{
max-width:420px;
margin:auto;
padding:12px;
}

.display{
text-align:right;
margin-bottom:10px;
}

#input{
width:100%;
font-size:32px;
border:none;
background:none;
color:white;
text-align:right;
}

/* GRID FIX */
#keypad, #scientific{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

/* BUTTON */
button{
padding:18px;
border:none;
border-radius:10px;
background:#1e1e1e;
color:white;
font-size:18px;
cursor:pointer;
}

button:active{
transform:scale(0.9);
}

.num{color:#ffd54f;}
.op{color:#ff9800;}
.func{color:#29b6f6;}

#equals{color:#00e676;}
#clear{color:#ff5252;}

.hidden{
display:none;
}

/* CONTROLS */
.controls{
display:flex;
flex-wrap:wrap;
gap:10px;
margin-top:12px;
}
